<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true">
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <jmxConfigurator/>
    <contextName>${projectName}</contextName>
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径 -->
    <property name="logHome" value="/data/logs/eureka-server/"/>
    <!-- 控制台输出 -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][eureka-server][%p][%c.%M]\(%L\) - %m%n</pattern>
        </encoder>
    </appender>
    <appender name="debugRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logHome}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${logHome}/debug-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <MaxHistory>10</MaxHistory>
            <totalSizeCap>200MB</totalSizeCap>
            <cleanHistoryOnStart>TRUE</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][eureka-server][%p][%c.%M]\(%L\) - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="infoRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logHome}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${logHome}/info-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxFileSize>5MB</maxFileSize>
            <MaxHistory>30</MaxHistory>
            <totalSizeCap>200MB</totalSizeCap>
            <cleanHistoryOnStart>TRUE</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][eureka-server][%p][%c.%M]\(%L\) - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <appender name="errorRollingFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logHome}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>${logHome}/error-%d{yyyy-MM-dd}-%i.log</FileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <MaxHistory>30</MaxHistory>
            <totalSizeCap>300MB</totalSizeCap>
            <cleanHistoryOnStart>TRUE</cleanHistoryOnStart>
        </rollingPolicy>
        <encoder>
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>[%d{yyyy-MM-dd HH:mm:ss}][eureka-server][%p][%c.%M]\(%L\) - %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>
    <logger name="org.springframework" level="ERROR"/>
    <logger name="baseLogger" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="infoRollingFileAppender"/>
        <appender-ref ref="debugRollingFileAppender"/>
        <appender-ref ref="errorRollingFileAppender"/>
    </logger>
    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="infoRollingFileAppender"/>
        <appender-ref ref="debugRollingFileAppender"/>
        <appender-ref ref="errorRollingFileAppender"/>
    </root>
</configuration>